/* .bg {
    width: 788px;
    height: 940px;
    position: relative;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
    border-radius: var(--br-5xs);
    background-color: var(--color-lavenderblush);
    display: none;
    max-width: 100%;
} */

.welcomeTo {
    margin: 0;
    font-weight: 500;
    font-size: 36px;
    padding-top: 20px;
    font-family: var(--font-poppins);

}

.finitrek {
    margin: 0;
    font-size: 46px;
    font-weight: 900;
    color: var(--color-purple-100);
    font-family: var(--font-poppins);

}

.welcomeToFinitrekContainer {
    /* position: relative; */
    /* line-height: 135.5%; 
    z-index: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.welcomePanel {
    width: 660px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0 var(--padding-7xs);
    box-sizing: border-box;
    max-width: 100%;
}

.register {
    color: var(--color-purple-100);
}

.dontHaveAnContainer {
    /* position: relative; */
    /* line-height: 135.5%; */
    /* z-index: 1; */
    margin: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1px;
}

/* .bgParent,
.login,
.registerArea {
    display: flex;
    align-items: flex-start;
} */

.registerArea {
    /* width: 659px;
    color: var(--color-black); 
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-base);*/
}
/* 
.bgParent,
.login {
    box-sizing: border-box;
} */

 .bgParent {
    
    width: 40%;
    height: 100%;
    background-color: var(--color-lavenderblush);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
    border-radius: var(--br-5xs);
    padding: var(--padding-25xl) var(--padding-24xl) 79px var(--padding-45xl);
     /*
    height: 900px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 47px;
    max-width: 100%; */
    margin: 120px 0px;
} 
.login {
   
    display: flex;
    align-items: center; 
    justify-content: center; 
  }
  

.login {
    
    padding-top: 4%;
    padding-bottom: 4%;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;  
    font-family: var(--font-poppins);
    background-color: var(--color-white);
    /* position: relative;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
    padding: 143px var(--padding-xl);
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: var(--font-size-17xl);
    */
} 

@media screen and (max-width: 1063px) {
    .welcomeToFinitrekContainer {
        font-size: var(--font-size-10xl);
        /* line-height: 50px; */
    }

    .bgParent {
        /* padding: 29px var(--padding-2xl) 51px var(--padding-13xl); */
        box-sizing: border-box;
        width: 60% !important;
    }
}
@media screen and (min-width: 1321px) and (max-width:1500px) {

    .bgParent {
        /* padding: 29px var(--padding-2xl) 51px var(--padding-13xl); */
        box-sizing: border-box;
        width: 57% !important;
    }
}

@media screen and (max-width: 760px) {
    .bgParent {
        padding-top: var(--padding-xl);
        padding-bottom: var(--padding-14xl);
        box-sizing: border-box;
        width: 80% !important;
    }
}
@media  screen and (min-width:1820px) {
    .welcomeToFinitrekContainer {
      padding-top: 30px;
    }}
@media  screen and (min-width:451px) and (max-width:768px) {
    .welcomeToFinitrekContainer {
        font-size: var(--font-size-xl);
        /* line-height: 37px; */
        line-height: 30px;
    }
    .welcomeTo{
        font-size: x-large;
    }
    .finitrek{
        font-size: xx-large ;
    }
}
@media screen and (max-width: 450px) {
    .welcomeToFinitrekContainer {
        font-size: var(--font-size-xl);
        /* line-height: 37px; */
        line-height: 26px;
    }
    .welcomeTo{
        font-size: large;
    }
    .finitrek{
        font-size: x-large;
    }
   
    .bgParent{
        padding-top: 0% ;
    }
    .login{
        padding-left: 5%;
       
        padding-right: 4%;
        width: 90%;
    }
  
    .bgParent {
        gap: 23px;
        width: 100% !important;
    }
    .register {
        font-size: smaller;
    }
    .dontHaveAnContainer{
        margin: 17px 11px;
        gap:1px;
    }
    .dontHaveAnContainer span{
        font-size: small;
    }
}
@media screen and (min-width:1024px) and (max-width:1320px){
    .bgParent{
        width: 57%;
    }

}
@media  screen and (min-width:769px) {
    .welcomeToFinitrekContainer {
        font-size: var(--font-size-xl);
        /* line-height: 37px; */
        line-height: 30px;
    }
    .welcomeTo{
        font-size: x-large;
    }
    .finitrek{
        font-size: xx-large ;
    }
}
@media  screen and (min-width : 1820px) {
    .welcomeToFinitrekContainer {
        font-size: var(--font-size-xl);
        /* line-height: 37px; */
        line-height: 49px;
    }
    .welcomeTo{
        font-size: xx-large;
    }
    .finitrek{
        font-size: xxx-large ;
    }
}