.loginWithGoogleChild {
    height: 78px;
    width: 90%;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.11);
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    display: none;
    max-width: 100%;

  }
  .search1Icon {
    height: 32px;
    width: 32px;
    /* position: relative; */
    /* overflow: hidden; */
    /* flex-shrink: 0; */
    /* z-index: 1; */

  }
  /* .loginWithGoogle1 {
   width: 122px;
   height:22px;
  } */
  .loginWithGoogle,
  .loginWithGoogleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 14px;
    /* width: 80%; */
    height: 20%;
    
  }
  .loginWithGoogle {
    /* align-self: stretch; */
    /* width: 82%; */
    width:81%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
    background-color: var(--color-white);
    flex-direction: row;
    justify-content: center;
    padding:20px 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
    /* gap: var(--gap-lgi); */
    /* max-width: 100%; */
    /* z-index: 1; */
    /* text-align: left; */
    font-size: var(--font-size-base);
    color: var(--black);
    font-family: var(--font-poppins);
  }
  @media screen  and (max-width : 768px){
    .loginWithGoogle{
      width: 81% !important;
    }}
    @media screen  and (min-width : 1820px){
      /* .loginWithGoogleWrapper{
        font-size: larger;
      } */
      .loginWithGoogle{
  
        /* width: 678px !important;
        height: 78px; */
      }
    }
    @media screen  and (max-width : 450px){
      .loginWithGoogle{
        width: 90% !important;
        padding: 7px;
        margin-bottom: 10px ;
      }
      .loginWithGoogleWrapper{
        font-size: x-small;
      }
      .search1Icon{
        height: 20px;
        width:20px;
      }

  }
  