.popularRentalDeals {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.dealsTitle,
.rentalDeals {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rentalDeals {
  margin-top: 30px;
  border-radius: var(--br-5xs);
  background-color: var(--color-lavenderblush);
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-13xl);
  white-space: nowrap;
}
.dealsTitle {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.mostPopularCars {
  /* margin: 0; */
  text-align: center;
  height: 26px;
  position: relative;
  font-size: var(--font-size-19xl);
  line-height: 130%;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-darkslategray-400);
  display: inline-block;
}
.popularCarsHeader,
.popularCarsTitle {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.popularCarsTitle {
  width: 584px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.popularCarsHeader {
  width: 1120px;
  flex-direction: row;
  justify-content: center;
}
.frameGroup {
  /* width: 1120px; */
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.frameContainer,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frameGroup{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* First row */
  /* gap: var(--gap-13xl); */
  justify-content: center;
  justify-self: center;
}
 

.frameContainer {
  width: 832px;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.frameWrapper {
  width: 1120px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.frameParent,
.popularRentalCars {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent {
  align-items: center;
  width: 1120px;
  /* overflow-x: auto; */
  /* align-items: flex-start; */
  gap: var(--gap-26xl);
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
}
.popularRentalCars {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-65xl) var(--padding-xl) var(--padding-85xl);
  box-sizing: border-box;
  gap: var(--gap-45xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-purple-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1250px) {
  .popularRentalCars {
    gap: var(--gap-13xl);
    padding-top: var(--padding-36xl);
    padding-bottom: var(--padding-49xl);
    box-sizing: border-box;
  }
  .frameGroup{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 750px) {
  .mostPopularCars {
    font-size: var(--font-size-11xl);
    line-height: 40px;
  }
  .frameParent {
    gap: var(--gap-3xl);
  }
  .popularRentalCars {
    gap: var(--gap-base);
    padding-top: var(--padding-17xl);
    padding-bottom: var(--padding-25xl);
    box-sizing: border-box;
  }
  .frameGroup{
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 450px) {
  .mostPopularCars {
    font-size: var(--font-size-4xl);
    line-height: 30px;
  }
}
